<h1>Codeclanners</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Cohort</th>
  </tr>
  <% for codeclanner in @codeclanners %>
  <tr>
    <td><a href="/codeclanners/<%= codeclanner.id %>"><%= codeclanner.name %></a></td>
    <td>|</td>
    <td><%= codeclanner.cohort %></td>
  </tr>



  <% end %>
</table>


<%# THIS WILL NOT RUN %>
<% if false %>
  <from action="/codeclanners" method="get">
  <input type="submit" name="Add codeclanner">

  </from



  <h2><%= @codeclanner.name %></h2>

  <p>Cohort: <%= @codclanner.cohort %></p>

  <a href="/codeclanners/<%= @codeclanner.id %>/edit">Edit</a>
  <form action="/codeclanners/<%= @codeclnner.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<% end %>
